.achievement {
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__ach {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.rectangle {
    position: absolute;
    z-index: -1;
    height: 500px;
    right: -500px;
    top: 130px;
}

.circle {
    z-index: -1;
    background-color: #8cb3f3;
    top: 0;
    left: 0;
}



.circle:nth-child(2){
    top: 140px;
    left: 120px; 
}


.circle:nth-child(3){
    top: 280px;
    left: 100px;
}



.circle:nth-child(4){
    top: 450px;
    left: 40px;
}


.circle:nth-child(5){
    top: 10px;
    left: 30px;
}

@media(max-width:843px){
    .circle:nth-child(2),.circle:nth-child(3){
        display: none; 
    }
}



@media(max-width:755px){
    .circle{
        display: none; 
    }
}