.consultation {
  font-family: "Arial";
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  padding-bottom: 200px;
  padding-top: 100px;
}

.consultation h1 {
  font-size: 23px;
}

.consultation__text {
  color: #3716ff;
  font-weight: bold;
  max-width: 800px;
  width: 100%;
}

.consultation-form__first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.select__with {
  position: relative;
}

.select__with::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 7px 0 7px;
  border-color: black transparent transparent transparent;
  top: 50%;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  left: 95px;
}

.rect {
  position: absolute;
  left: 1000px;
  top: 100px;
  width: 1000px;
  height: 500px;
  z-index: -1;
}

.rect img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
}

.error {
  color: red;
}

@media (max-width: 429px) {
  .consultation {
    padding-top: 30px;
  }
  .select__with::after {
    top: 50%;
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  .consultation form input {
    width: 100%;
  }
}

@media (max-width: 1006px) {
  .consultation form {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .background-image {
    background-position: center;
  }
}

@media (max-width: 773px) {
  .background-image {
    margin-right: 1000px;
    background-size: contain;
  }
}

.background-image {
  position: absolute;
  width: 2000px;
  height: 1300px;
  z-index: -1;
  background-position: 500px 200px;
  background-repeat: no-repeat;
  background-image: url(../../public/images/2907518.jpg);
  background-size: contain;
  background-color: white;
  -webkit-animation: move 20s alternate infinite linear;
          animation: move 20s alternate infinite linear;
}

@media (max-width: 1000px) {
  .background-image {
    -webkit-animation: none;
            animation: none;
  }
}

.consultation-form {
  position: relative;
  background-color: white;
  max-width: 640px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.consultation-form__title-p {
  margin-top: 2px;
}

.consultation-form::before {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 10px;
  background-color: red;
}
/*# sourceMappingURL=Consultation.module.css.map */