.admin-course {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 25px;
    // row-gap: 3rem;

    &__title {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        margin-bottom: 40px;
    }

    &__users {
        width: 100%;
        display: grid;
        column-gap: 10px;
        row-gap: 20px;
        padding-bottom: 50px;
    }

    &__card {
        max-width: 600px;
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        margin-bottom: 3rem;
        div {
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        column-gap: 1rem;
        &-title {
            color: red;
        }
        &-ask {
        }
    }

    &__question {
        display: flex;
        flex-direction: column;
        row-gap: 0.3rem;
    }
}

.user {
    width: 100%;
    min-height: 40px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    div {
        word-break: break-all;
    }
}

.user__mobile {
    display: none;
    // display: flex;
    flex-direction: column;
    border: 1px solid black;
    &__card {
        // border: 1px solid black;
        border-left: none;
        border-right: none;
    }
}

@media (max-width: 519px) {
    .user-card-mob {
        flex-direction: column;
        width: 100% !important;
    }
}

.user-card-mob {
    padding: 1rem;
    display: flex;
    // flex-direction: column;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 2rem;
    border: 1px solid black;
    width: 95%;

   
    &__sect{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}

@media (max-width: 779px) {
    .admin-course__title {
        display: none;
    }

    .user__mobile {
        display: flex;
        row-gap: 1rem;
        justify-content: center;
        &__card {
            display: flex;
            row-gap: 1rem;
            padding: 0.5rem;
            column-gap: 0.5rem;
        }
    }

    .admin-course__users {
        margin-top: 20px;
    }

    .user {
        display: none;
    }

    .admin-course {
        padding-left: 0px;
    }

    .users-videos {
        margin-top: 200px;
    }
}
