.radio input[type="radio"] {
    opacity: 0;
    width: 0;
    position: absolute;
    // display: none;
    // clip-path: inset(0 0, 0 0, 0 0, 0 0);
    // visibility: hidden;
}

.radio label::before {
    position: absolute;
}

.radio {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #3716ff;
    border-radius: 50%;
    transition: 0.4s;
    flex-basis: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
}

.radio input[type="radio"] + .circle div {
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    transform: translateX(-0.2px);
}

.radio input[type="radio"]:checked + .circle div {
    background-color: #bfb;
    width: 10px;
    height: 10px;
    background-color: #3716ff;
}

.radio input[type="radio"]:checked + .circle {
    box-shadow: 0px 0px 0px 4px rgba(0, 144, 255, 0.35);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 144, 255, 0.35);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 144, 255, 0.35);
}

.radio input[type="radio"] ~ .text {
    transition: 0.4s;
}

.radio input[type="radio"]:checked ~ .text {
    color: #3716ff;
}
